{% extends "beio_blog/base.html" %}

{%block main%}
    <div id="vmaig-content" class="col-md-8 col-lg-9">
        <!-- 警告框 -->
        <!--<div class="well alert hidden-xs fade in">
            <button class="close" data-dismiss="alert" type="button">&times;</button>
            {{website_welcome}}
        </div>

        <div class="visible-xs">
            <div class="search">
                <form class="form-inline clearfix" role="form" method="get" action="/search/"> 
                    <input type="text" class="form-control" id="top-s" name="s">
                    <button class="btn btn-vmaig">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
            </div>
        </div>-->
        <!-- 首页文章列表 -->
        <div id="home-post-list">
            <!-- 首页轮播 -->
            <!--{% if carousel_page_list%}
            {% include "./blog/include/carousel.html"%}
            {% endif%}-->

            <!--首页文章列表 -->
            {% if post-list %}
            {% with article_list=post-list %}
            {% for post in article_list %}
                {% include "./blog/include/home_post.html" %}
            {% endfor %}
            {% endwith %}
            {% endif %}

            <!--分页 -->
            {% if page_obj%}
            {% include "./blog/include/pagination.html"%}
            {% endif %}
        </div>
    </div>


{% endblock %}